/* components/Header.module.css */
.header {
  position: sticky;
  top: 0;
  background-color: #172434;
  /* border-bottom: 1px solid #ccc; */
  z-index: 1000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 0px 20px #000;
  height: 80px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
}

.navLinks li {
  margin-right: 20px;
  font-size: large;
}

.navLinks li a {
  text-decoration: none;
  color: #d3d3d3;
  font-weight: 600;
}

.navLinks li a:hover {
  color: #5eaccc;
}
