.banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 50%;
  padding: 3rem;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #172434;

  @media screen and (max-width: 768px) {
    min-height: 40%;
  }

  @media screen and (max-width: 426px) {
    min-height: 30%;
  }
}

.bannerTitle {
  font-size: 4rem;
  font-weight: 800;

  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }

  @media screen and (max-width: 426px) {
    font-size: 2rem;
  }
}

.bannerSubtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    margin-top: 1rem;
  }

  @media screen and (max-width: 426px) {
    font-size: 0.75rem;
    margin-top: 1rem;
  }
}

.ctaButton {
  background-color: #5eaccc;
  padding: 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  color: #172434;
  margin-top: 5rem;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 15px;
  }

  @media screen and (max-width: 426px) {
    font-size: 0.75rem;
    margin-top: 1rem;
  }
}
